<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/theme-chalk/index.css">
    <title>真步笔记 - 一个简单的公主连结R公会战计轴器</title>
</head>
<body>
    <div id="app">
        <div v-if="false">
            <h2>真步笔记 Maho Notes</h2>
            <br>
            <h4>正在从Internet加载运行框架与样式中，请稍等...</h4>
            <h4>如长时间停留在此，请尝试刷新本页面。</h4>
            <br>
            <p>正在获取 https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css ...</p>
            <p>正在获取 https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/theme-chalk/index.css ...</p>
            <p>正在获取 https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js ...</p>
            <p>正在获取 https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/index.js ...</p>
        </div>
        
        <div style="display: none;" v-show="true">
            
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">选择角色</span>
            </nav>
            
            <charas-collapse v-if="$store.getters.length != 0"></charas-collapse>

            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">已选角色</span>
            </nav>
            <div style="margin-top: 5px;">
                <img
                    v-for="(chara, index) in $store.state.selectedCharas"
                    :key="index"
                    :src="chara.imgSrc"
                    :title="chara.name"
                    @click="selectChara(chara, true)"
                    class="chara-icon"
                    style="opacity: 1;"
                >
                <img
                    v-for="n in (5 - $store.state.selectedCharas.length)"
                    :src="charaIconsUrlBase + '/unknown.jpg'"
                    class="chara-icon"
                >
            </div>

            <transition name="tr">
                <div v-show="$store.state.selectedCharas.length != 0">
                    <nav class="navbar navbar-dark bg-dark">
                        <span class="navbar-brand mb-0 h1">添加技能施放时间</span>
                    </nav>
                    <transition-group name="tr">
                        <div
                            v-for="(chara, index) in $store.state.selectedCharas"
                            :chara="chara"
                            :key="chara.name"
                        >
                            <template v-if="chara.skills">
                                <nav class="navbar navbar-light bg-light">
                                    <a class="navbar-brand" href="#">
                                        <img
                                            :src="chara.imgSrc" width="30" height="30"
                                            loading="lazy"
                                        >
                                        {{ chara.name }}
                                    </a>
                                </nav>
                                <add-skill-and-time
                                    v-for="(skill, index) in chara.skills"
                                    :key="skill.name"
                                    :skill="skill"
                                    :chara="chara"
                                ></add-skill-and-time>
                            </template>
                        </div>
                    </transition-group>
                </div>
            </transition>
            <br>
            <transition name="tr">
                <div v-show="$store.state.addedSkillsAndTimes.length != 0">
                    <b>已添加的技能施放时间：</b>
                    <table border="1">
                        <tr>
                            <th style="min-width: 95px;">角色</th>
                            <th style="min-width: 170px;">技能</th>
                            <th style="min-width: 95px;">释放时间</th>
                            <th style="min-width: 95px;"></th>
                        </tr>
                        <template v-for="(item, index) in $store.state.addedSkillsAndTimes">
                            <tr :key="index">
                                <td>
                                    <img
                                        :src="item.chara.imgSrc"
                                        :alt="item.chara.name"
                                        width="30"
                                        height="30"
                                    >
                                    {{ item.chara.name }}
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.useTime.toString() }}</td>
                                <td>
                                    <input
                                        class="btn btn-danger"
                                        type="button"
                                        value="删除"
                                        @click="removeSkillAndTime(item)"
                                        >
                                </td>
                            </tr>
                            </transition-group>
                        </template>
                    </table>
                    <br>
                    <input
                        class="btn btn-info"
                        type="button"
                        value="更改时间显示类型"
                        @click="timesRowDispIsTime = !timesRowDispIsTime"
                    >
                    <input
                        class="btn btn-danger"
                        type="button"
                        value="清空/重置"
                        @click="clear()"
                    >
                    <br>
                    <br>
                    <table border="1px" v-show="$store.getters.timelines.length != 0">
                        <tr>
                            <th style="min-width: 280px;">技能/时间</th>
                            <th style="min-width: 35px;" v-for="time in timesRow">{{ time }}</th>
                        </tr>
                        <template v-for="item in $store.getters.timelines">
                            <timeline-row :item="item" :key="JSON.stringify(item)"></timeline-row>
                        </template>
                    </table>
                    <p>注：蓝色方块为技能buff的持续时间；ctrl+鼠标滚轮可以缩放视图大小。</p>
                </div>
            </transition>
            
            <p>Version: 20.8.23.5</p>

            <p>
                ©{{ new Date().getFullYear() }} 真步笔记 Maho Notes
                <br>
                Powered by Vue & Bootstrap v4 & Element on GitHub Pages & jsDelivr
                <br>
                本网站使用的游戏图像的版权和其他知识产权属于原内容提供者(bilibili Game, So-net Entertainment Taiwan, Cygames)
                <br>
                <a href="https://github.com/PinkChampagne17/MahoNotes" target="_blank">
                    <img alt="GitHub stars" src="https://img.shields.io/github/stars/PinkChampagne17/MahoNotes?style=social&lable=Repository">
                </a>
                <a href="https://github.com/PinkChampagne17/MahoNotes/issues" target="_blank">
                    <img alt="GitHub issues" src="https://img.shields.io/github/issues/PinkChampagne17/MahoNotes?label=%E5%BB%BA%E8%AE%AE%2FBug%E5%8F%8D%E9%A6%88">
                </a>
            </p>

            <a href="https://info.flagcounter.com/lJga" v-if="!envIsDev">
                <img src="https://s01.flagcounter.com/countxl/lJga/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_12/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0">
            </a>

        </div>
    </div>
</body>

<script src="https://beaudar.lipk.org/client.js"
        repo="PinkChampagne17/MahoNotes"
        issue-term="pathname"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuex@3.5.1/dist/vuex.min.js"></script>

<script src="js/functions.js"></script>
<script src="js/consts.js"></script>
<script src="js/types.js"></script>
<script src="js/store.js"></script>

<script src="components/charas-collapse-component.js"></script>
<script src="components/charas-list-component.js"></script>
<script src="components/add-skill-and-time-component.js"></script>
<script src="components/timeline-row-component.js"></script>

<script src="js/index.js"></script>
